{:url-format #immuconf/override ""                          ;; a format str for the URL to create a repo
 :user-config #immuconf/default "/user.edn"                 ;; path to user config (will prepend with $HOME
 :base-url #immuconf/default ""                             ;;
 :uplift-dir "/root/Projects/uplift"                        ;; Where to install uplift code on VM
 :ssh-password #immuconf/override ""                        ;; root password for VM
 :ddns-client  #immuconf/default ""                         ;; (optional) url for ddns client rpm
 :ssh-pub-key #immuconf/override ""                         ;; path to public ssh key
 :ssh-pub-key-auto #immuconf/default ""                     ;; path to public key for CI testing
 :dependencies
   {:rhel7 []
    :rhel6 []}
 :ldtp-repo-path #immuconf/override ""                      ;; path to ldtp rpms
 :vncserver-path #immunconf/override ""                     ;; path to vncserver@.service file
 }
