{:url-format #immucont/override ""                          ;; a format string for a repo file baseurl
 :ssh-password #immuconf/override ""                        ;; root password for test machine
 :ssh-pub-key #immuconf/overrid ""                          ;; path to master ssh public key
 :ssh-pub-key-auto #immuconf/override ""                    ;; path to automation ssh public key
 :ddns-client #immuconf/override ""
 :candlepin #immuconf/override ""                           ;; URL for candlepin
 }
